certifi==2018.1.18
chardet==3.0.4
click==6.7
docopt==0.6.2
Flask==0.12.2
hurry==1.0
hurry.filesize==0.9
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
peewee==3.0.16
psutil==5.4.3
py==1.4.34
PyMySQL==0.8.0
pytz==2018.3
PyYAML==3.12
requests==2.18.4
urllib3==1.22
Werkzeug==0.14.1
