{% extends "page.html" %}

{% block content %}
    <main class="main">
        {% include 'breadcrumb.html' %}
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="clearfix">
                        <h1 class="float-left display-3 mr-4">{{ code }}</h1>
                        <h4 class="pt-3">Oops! There seems to be a problem.</h4>
                        <p class="text-muted">{{ error|safe }}</p>
                        <br/>
                        {% if install_key %}
                            <p>Please execute this command as Root user to install Mom agent automatically:</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <code>
                                    cd /tmp && wget -q https://cdn.monit.dip.lenaic.me/mom-agent.sh && bash mom-agent.sh {{ install_key }}
                                    <button class="btn btn-outline-gray-300" type="button" id="copyInstallCommand"
                                            data-clipboard-text="cd /tmp && wget -q https://cdn.monit.dip.lenaic.me/mom-agent.sh && bash mom-agent.sh {{ install_key }}">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </code>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}

{% block js %}
<script>
    new Clipboard('#copyInstallCommand');
</script>
{% endblock %}