{% extends "page.html" %}

{% block content %}
    <main class="main">
        {% include 'breadcrumb.html' %}
        <div class="container-fluid">


            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        TITRE
                    </div>
                    <div class="card-body">
                        CONTENT
                    </div>
                </div>
            </div>


        </div>
    </main>
{% endblock %}