<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ url_for('index') }}" class="nav-link"><i class="fa fa-server"></i> Servers</a>
            </li>

{#            <li class="nav-title">#}
{#                Servers#}
{#            </li>#}

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-info-circle"></i> Information</a>
                <ul class="nav-dropdown-items">
                {% for server in server_list %}
                    <li class="nav-item">
                        <a href="{{ url_for('servers', server_id=server.id) }}" class="nav-link"><i></i> {{ server.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>